@{
    ViewData["Title"] = "Nạp tiền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="width:300px">
        <div class="card" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <div class="card-body">
                <b>Giao dịch trực tiếp</b>
            </div>
        </div>
        @ViewBag.notice
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form style="display:flex" method="post" asp-action="TopUp">
                    
                    <div class="input-group mb-3" style="width:150px;margin-left:20px">

                        <input type="number" name="soTien" class="form-control" placeholder="Nhập số tiền" aria-label="" aria-describedby="basic-addon1">
                    </div>
                <button style="height:30px" type="submit" class="btn btn-primary" id="liveToastBtn">Nạp</button>
                </form>
            </div>
        </div>
        <br />
        <div class="card" data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            <div class="card-body">
                <b>Chuyển khoản ngân hàng</b>
            </div>
        </div>

        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
                STK: 032323232112
                Ngân hàng: VCB
            </div>
        </div>
    </div>
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>
<script>
    const toastTrigger = document.getElementById('liveToastBtn')
    const toastLiveExample = document.getElementById('liveToast')

    if (toastTrigger) {
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
        toastTrigger.addEventListener('click', () => {
            toastBootstrap.show()
        })
    }
</script>

