@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLBanPhanMem</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<<<<<<< Updated upstream


     <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
          rel="stylesheet" />
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
=======
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
              rel="stylesheet" />
>>>>>>> Stashed changes

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />   
    

</head>
<body>
    <section class="myHeader">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-3">
                    <a href="/Home/Index/">
                        <img src="~/image/logo_index.png" class="img-fluid" />
                    </a>
                </div>
                <div class="col-md-4">

                    <form class="d-flex" action="/Product/Index/" method="get">
                        <div class="input-group mb-3" style="line-height: 2">
                            <input class="form-control" type="text" name="search" placeholder="Tìm sản phẩm" aria-label="Tìm sản phẩm">
                            <span class="input-group-text" id="basic-addon2">
                                <i id="search" class="fa-solid fa-magnifying-glass"></i>
                            </span>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    var iconSearch = document.querySelector('#search');
                                    var form = document.querySelector('form');

                                    iconSearch.addEventListener('click', function (e) {
                                        e.preventDefault();
                                        form.submit();
                                    });
                                });
                            </script>
                        </div>
                    </form>

                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-2">
                            <div class="fs-2 text-danger">
                                <i class="fa-regular fa-circle-user"></i>
                            </div>
                        </div>

                        <div class="col-6">
                            Xin chào<br />
                            @{
                                if (ViewBag.email == null)
                                {
                                    <a asp-area="" asp-controller="Account" asp-action="SignIn" style="text-decoration: none">
                                        <strong class="text-danger">Đăng nhập</strong>
                                    </a>
                                }
                                else
                                {


                                // <a class="icon" href="/Account/Edit/@ViewBag.uid">
                                    //     <i class='bx bxs-user-detail'></i> Cập nhật thông tin
                                    // </a>
                                    <div class="dropdown">
                                        <a id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class='bx bxs-user-detail'></i>@ViewBag.email
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item text-dark" href="/Account/TopUp">Nạp tiền</a></li>
                                            <li><a class="dropdown-item text-dark" href="/Account/Edit/@ViewBag.uid">Cập nhật thông tin</a></li>
                                            <li><a class="dropdown-item text-dark" href="/Account/History/@ViewBag.uid">Lịch sử đơn hàng</a></li>
                                            <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">Đổi mật khẩu</a></li>
                                            <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Đăng xuất</a></li>
                                        </ul>
                                    </div>

                                }
                            }
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <a asp-action="Index" asp-controller="Cart" class="position-relative">
                        <span class="fs-3 text-black">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @if (ViewBag.giohang == null)
                            {
                                <text>0</text>
                            }
                            else
                            {
                                @ViewBag.giohang
                            }
                        </span>
                    </a>
                </div>



            </div>

           

        </div>
    </section>
    <section class="mainMenu bg-info">
        <div class="container">
            <div class="row">
                <div class="col-3">
                  
                </div>

                <div class="col-9">
                    <nav class="navbar navbar-expand-lg bg-info">
                        <div class="container-fluid">
                            
                            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active text-white" aria-cu rrent="page" href="/Home/Index/">Home</a>
                                    </li>
                                  
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Danh mục phần mềm
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" aria-disabled="true">Tin tức</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" aria-disabled="true">Liên hệ</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-white" aria-disabled="true">Tuyển dụng</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="mainContent">
        <div class="row">
            @RenderBody()
        </div>
    </section>


    <section class="myfoother bg-dark text-white py-4">
        <div class="container">
            <div class="row" >
                <div class="col-md-3">
                    <h4 >
                        Văn phòng giao dịch
                    </h4>

                    <ul class="list-menu">
                        <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li class="li_menu"><a href="/" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a href="/" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a href="/" title="Tin mới nhất">Tin mới nhất</a></li>
                        <li class="li_menu"><a href="/" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                        <li class="li_menu"><a href="/" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h5>
                        Về chúng tôi
                    </h5>

                    <ul class="list-menu">
                        <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li class="li_menu"><a href="/" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a href="/" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a href="/" title="Tin mới nhất">Tin mới nhất</a></li>
                        <li class="li_menu"><a href="/" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                        <li class="li_menu"><a href="/" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>
                        Chính sách bán hàng
                    </h4>

                    <ul class="list-menu">
                        <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li class="li_menu"><a href="/" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a href="/" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a href="/" title="Tin mới nhất">Tin mới nhất</a></li>
                        <li class="li_menu"><a href="/" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                        <li class="li_menu"><a href="/" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h4>
                        Theo dõi chúng tôi
                    </h4>

                    <ul class="list-menu">
                        <li class="li_menu"><a href="/" title="Trang chủ">Trang chủ</a></li>
                        <li class="li_menu"><a href="/" title="Giới thiệu">Giới thiệu</a></li>
                        <li class="li_menu"><a href="/" title="Sản phẩm">Sản phẩm</a></li>
                        <li class="li_menu"><a href="/" title="Tin mới nhất">Tin mới nhất</a></li>
                        <li class="li_menu"><a href="/" title="Câu hỏi thường gặp">Câu hỏi thường gặp</a></li>
                        <li class="li_menu"><a href="/" title="Tuyển dụng">Tuyển dụng</a></li>
                        <li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
                    </ul>
                </div>

               
            </div>
            <div class="row">
                <div class="col-md-6">
					<h4>
						<span>
							Website phần mềm Up Modern
						</span>
					</h4>
                    <ul class="list-menu">
                        <p class="m-0">Copyright 2021 Công ty cổ phần thương mại Up Modern</p>
                        <p class="m-0">Chứng nhận ĐKKD số: 0388282938 do sở KH &amp; ĐT TP.Hà Nội cấp</p>
                        <p class="m-0">Địa chỉ: Tòa nhà Ladeco 266 Đội Cấn, Ba Đình, Hà Nội</p>
                        <p class="m-0">
                            Điện thoại: 111111
                        </p>
					</ul>
				</div>

                <div class="col-md-6">
                    <h4>
                        <span>
                            Nhận tin khuyến mãi
                        </span>
                    </h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Đăng ký nhận email" aria-label="Đăng ký nhận email" aria-describedby="basic-addon2">
                        <span class="input-group-text text-white bg-danger" id="basic-addon2">Đăng ký</span>
                    </div>

                    

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        Bản quyền thuộc về <a href="https://boronco-template.mysapo.net/">Ego Creative</a>
                        <span class="opacity1">
                            Cung cấp bởi Sapo
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    Trang chủ Giới thiệu Sản phẩm Tin mới nhất Câu hỏi thường gặp
                </div>
            </div>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
